@model BankOfSimba.ViewModels.BankViewModel
@{
    ViewData["Title"] = "GetBankAccounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 style="text-align:center">Bank Of Simba</h1>
<p style="text-align:center"><img src="~/images/simba.jpg" alt="Simba" width="400" /></p>

<body>
    <table class="container-fluid" ; style="padding:7px; ">
        <thead>
            <tr class="table-success">
                <th class="table-light">#ID</th>
                <th>Name</th>
                <th>Balance $</th>
                <th>Type</th>
                <th>King</th>
                <th>Good/Bad</th>
            </tr>
        </thead>
        <tbody style="font-size: 16px">
            @{ for (int i = 0; i < @Model.Accounts.Count; i++)
                {
                    <tr>
                        <td style="padding: 8px">@(i + 1)</td>
                        <td style="padding: 8px">@Model.Accounts[i].Name</td>
                        <td style="padding: 8px">@Model.Accounts[i].Balance</td>
                        <td style="padding: 8px">@Model.Accounts[i].AnimalType</td>
                        @if (Model.Accounts[i].IsKing)
                        {
                            <td style="color: brown;  padding: 8px"><b>King</b></td>
                        }
                        else
                        {
                            <td style="padding: 8px"> not a King</td>
                        }

                        @switch (Model.Accounts[i].IsGood)
                        {
                            case false:
                                <td style="padding: 8px"> Bad Guy</td>
                                break;
                            default:
                                <td style="padding: 8px"> Good Guy</td>
                                break;

                        }
                    </tr>
                }
            }
        </tbody>
    </table>
    <br />
    <p style="text-align:center">Increase the balance! Choose the ID# of the bankaccount's owner</p>
    <form  style="text-align:center "name="index" action="/accounts" method="post">
        <select name="index">
            @for (var i = 0; i < Model.Accounts.Count; i++)
            {
                <option type="number" value="@i">@(i + 1)</option>
            }
        </select>
        <button type="submit" class="btn btn-success">Add $</button>
    </form>
</body>

