@model fashionstoregf.ViewModesl.SummaryViewModel
@{
    ViewData["Title"] = "Summary";
}

<h2>Summary</h2>


<p>@Model.ItemName</p>
<p>@Model.Manufacturer</p>
<p>@Model.Category</p>
<p>@Model.Quantity</p>
<p>@Model.SubtotalPrice</p>

<a href=./list>Back to main</a>
